{% extends "index.html" %}
{% load l10n %}

{% block title %}Van finder - List{% endblock %}

{% block content %}

<h1>
    Fiat Ducato results
</h1>

<br />

<form class="form-inline" method="get" action="{% url 'list' %}">
    {% csrf_token %}

    <div class="form-group">
        <label
            class="sr-only"
            for="searchTitle"
        >
            Search...
        </label>
        <input
            id="searchTitle"
            type="text"
            name="search"
            class="form-control"
            placeholder="Search van..."
            value="{{ request.GET.search }}"
        />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<br />

{% if results_list %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Title</th>
                <th>Province</th>
                <th>Fuel type</th>
                <th>Km</th>
                <th>Year</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        {% for result in results_list %}
            <tr>
                <td>
                    {% if result.photo_url %}
                    <a href="{{ result.url }}" target="_blank">
                        <img src="{{ result.photo_url }}" alt="{{ result.title }}">
                    </a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ result.url }}" target="_blank">
                        {{ result.title }}
                    </a>
                </td>
                <td>{{ result.province }}</td>
                <td>{{ result.fuel_type }}</td>
                <td>{{ result.km }}</td>
                <td>{{ result.year }}</td>
                <td>{{ result.price|localize }} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
{% else %}
    <p>No results are available.</p>
{% endif %}

{% endblock %}