{% extends "index.html" %}
{% load l10n %}

{% block title %}Van finder - List{% endblock %}

{% block content %}

<style type="text/css">
    #results_list .viewed {
        opacity: .5;
    }

    #results_list .rating {
        display: inline-block;
    }

    #results_list .rating a {
        margin: 0 1px;
        cursor: pointer;
        text-decoration: none;
    }
</style>

<h1>
    Fiat Ducato results
</h1>

<br />

<form class="form-inline" method="get" action="{% url 'list' %}">
    {% csrf_token %}

    <div class="form-group">
        <label
            class="sr-only"
            for="searchTitle"
        >
            Search...
        </label>
        <input
            id="searchTitle"
            type="text"
            name="search"
            class="form-control"
            placeholder="Search van..."
            value="{{ request.GET.search }}"
        />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<br />

{% if results_list %}
    <table id="results_list" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Title</th>
                <th>Province</th>
                <th>Fuel type</th>
                <th>Km</th>
                <th>Year</th>
                <th>Price</th>
                <th style="width: 110px;"></th>
            </tr>
        </thead>
        <tbody>
        {% for result in results_list %}
            <tr
                data-id="{{ result.pk }}"
                data-rating="{{ result.rating }}"
                class="result {{ result.viewed|yesno:'viewed,' }}"
            >
                <td>
                    {% if result.photo_url %}
                    <a href="{{ result.url }}" target="_blank">
                        <img src="{{ result.photo_url }}" alt="{{ result.title }}">
                    </a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ result.url }}" target="_blank">
                        {{ result.title }}
                    </a>
                </td>
                <td>{{ result.province }}</td>
                <td>{{ result.fuel_type }}</td>
                <td>{{ result.km }}</td>
                <td>{{ result.year }}</td>
                <td>{{ result.price|localize }} €</td>
                <td>
                    <div class="rating"></div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
    <div class="row">
        <div class="col-xs-4 text-xs-left">
            Found {{ paginator.count }} results.

        </div>
        <div class="col-xs-8 text-xs-right">
        {% if page_obj.number > 2 %}
            <a class="btn btn-secondary btn-sm" href="?page=1">&laquo;</a>
        {% endif %}

        {% if page_obj.has_previous %}
            <a class="btn btn-secondary btn-sm" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        {% endif %}

        <span class="current">
            page <strong>{{ page_obj.number }}</strong> of {{ paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-secondary btn-sm" href="?page={{ page_obj.next_page_number }}">&gt;</a>
        {% endif %}
        {% if page_obj.number < paginator.num_pages and paginator.num_pages != page_obj.next_page_number %}
            <a class="btn btn-secondary btn-sm" href="?page={{ paginator.num_pages }}">&raquo;</a>
        {% endif %}
        </div>
    </div>
    {% endif %}
{% else %}
    <p>No results are available.</p>
{% endif %}

<br />

<script type="text/javascript">

    $(function() {
        var list_url = "{% url 'list' %}";

        // Init rating elements
        $('#results_list .result').each(function() {
            var $result = $(this);


            $result.find('.rating').starrr({
                rating: $result.data('rating'),
                change: function(e, value) {
                    var data = {
                        id: $result.data('id'),
                        rating: value,
                        action: 'rating',
                    };

                    $.post(list_url, data)
                }
            })

        });

        // Event listeners
        $('body')
            .on('click', '#results_list .rating', function(e) {
                e.stopPropagation();
            })
            .on('click', '#results_list .result', function(e) {
                var $result = $(this);
                var data = {
                    id: $result.data('id'),
                    action: 'viewed',
                };

                $.post(list_url, data, function(response) {
                    if (response.result.viewed) {
                        $result.addClass('viewed');
                    }
                    else {
                        $result.removeClass('viewed');
                    }
                })
            })
        ;





    })
</script>

{% endblock %}